<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.study.demo.upms.dao.mapper.SysRolePermMapper" >
  <resultMap id="BaseResultMap" type="com.study.demo.upms.model.SysRolePerm" >
    <id column="role_id" property="roleId" jdbcType="VARCHAR" />
    <id column="perm_val" property="permVal" jdbcType="VARCHAR" />
    <result column="perm_type" property="permType" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    role_id, perm_val, perm_type
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.study.demo.upms.model.SysRolePermExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from sys_role_perm
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="map" >
    select 
    <include refid="Base_Column_List" />
    from sys_role_perm
    where role_id = #{roleId,jdbcType=VARCHAR}
      and perm_val = #{permVal,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="map" >
    delete from sys_role_perm
    where role_id = #{roleId,jdbcType=VARCHAR}
      and perm_val = #{permVal,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.study.demo.upms.model.SysRolePermExample" >
    delete from sys_role_perm
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.study.demo.upms.model.SysRolePerm" >
    insert into sys_role_perm (role_id, perm_val, perm_type
      )
    values (#{roleId,jdbcType=VARCHAR}, #{permVal,jdbcType=VARCHAR}, #{permType,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.study.demo.upms.model.SysRolePerm" >
    insert into sys_role_perm
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="roleId != null" >
        role_id,
      </if>
      <if test="permVal != null" >
        perm_val,
      </if>
      <if test="permType != null" >
        perm_type,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="roleId != null" >
        #{roleId,jdbcType=VARCHAR},
      </if>
      <if test="permVal != null" >
        #{permVal,jdbcType=VARCHAR},
      </if>
      <if test="permType != null" >
        #{permType,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.study.demo.upms.model.SysRolePermExample" resultType="java.lang.Integer" >
    select count(*) from sys_role_perm
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update sys_role_perm
    <set >
      <if test="record.roleId != null" >
        role_id = #{record.roleId,jdbcType=VARCHAR},
      </if>
      <if test="record.permVal != null" >
        perm_val = #{record.permVal,jdbcType=VARCHAR},
      </if>
      <if test="record.permType != null" >
        perm_type = #{record.permType,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update sys_role_perm
    set role_id = #{record.roleId,jdbcType=VARCHAR},
      perm_val = #{record.permVal,jdbcType=VARCHAR},
      perm_type = #{record.permType,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.study.demo.upms.model.SysRolePerm" >
    update sys_role_perm
    <set >
      <if test="permType != null" >
        perm_type = #{permType,jdbcType=INTEGER},
      </if>
    </set>
    where role_id = #{roleId,jdbcType=VARCHAR}
      and perm_val = #{permVal,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.study.demo.upms.model.SysRolePerm" >
    update sys_role_perm
    set perm_type = #{permType,jdbcType=INTEGER}
    where role_id = #{roleId,jdbcType=VARCHAR}
      and perm_val = #{permVal,jdbcType=VARCHAR}
  </update>
  <cache type="org.mybatis.caches.ehcache.LoggingEhcache" />
</mapper>