package ${package_name}.service.mock;

import com.study.common.base.BaseServiceMock;
import ${package_name}.dao.mbg.mapper.${model}Mapper;
import ${package_name}.dao.model.${model};
import ${package_name}.dao.model.${model}Example;
import ${package_name}.service.api.${model}Service;
/**
 * 降级实现${model}Service接口
 * @author valiantzh
 * @version 1.0
 */
public class ${model}ServiceMock extends BaseServiceMock<${model}Mapper, ${model}, ${model}Example> implements ${model}Service {

}
